<!DOCTYPE html>
<html>
<head lang="en">

    <title></title>
    <link href="style.css" rel="stylesheet" type="text/css">
    <!-- Javascript -->
    <script src="js/head.js" type="text/javascript"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.1.0.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>

<body>
<div id="top">
    <h1>To-Do Application</h1>
</div>
<div id="main-container">

    <!-- Input Container where new tasks can be added -->
    <section id="input-container">
        <form data-bind="submit: addItem">
            <input type="text" name="task-input" id="task-input" data-bind='value: itemToAdd, valueUpdate: "afterkeydown"' />
            <!--<input type="text" name="task-input" id="task-input" data-bind="value: newTask"/>-->
            <input type="submit" data-bind="enable: itemToAdd().length > 0" value="add task!">
        </form>
            <h2>Tasks</h2>



    </section>

    <section id="task-container">

        <ul class="task-list" data-bind="foreach: items">
            <li>

                <span class="task-name" data-bind="text: taskname"></span>

                <a href="javascript:void(0)" data-bind="click: $root.removeTask">X</a> </article>

            </li>
        </ul>

        <!--<select class="task-name" multiple="multiple" width="50" data-bind="options: items"></select>-->
        <!--<ul class="task-list" data-bind="foreach: items">-->
            <!--<li class="task-name">-->
        <!--&lt;!&ndash;<article class="task animated setup" data-bind=" css: { completed: completion() == true}">&ndash;&gt;-->
                <!--&lt;!&ndash;<form data-bind="click: $root.removeTask">&ndash;&gt;-->
            <!--<span class="task-name" data-bind="text: taskname"></span>-->
                <!--&lt;!&ndash;<a href="javascript:void(0)" class="task-remove" data-bind="enable: taskname()">X</a> </article>&ndash;&gt;-->
                <!--&lt;!&ndash;</form>&ndash;&gt;-->
        <!--&lt;!&ndash;</article>&ndash;&gt;-->
                <!--&lt;!&ndash;<form data-bind="delete: deleteItem">&ndash;&gt;-->
                <!--&lt;!&ndash;<form data-bind="submit: removeTask(taskname)">&ndash;&gt;-->
                    <!--&lt;!&ndash;<input type="submit" class="task-remove" value="Delete task!">&ndash;&gt;-->
                <!--&lt;!&ndash;</form>&ndash;&gt;-->
                    <!--<a href="javascript:void(0)" data-bind="click: $root.removeTask">X</a> </article>-->
                    <!--&lt;!&ndash;<a href="javascript:void(0)" class="task-remove" data-bind="click: $root.removeTask">X</a> </article>&ndash;&gt;-->
                <!--&lt;!&ndash;<button>delete</button>&ndash;&gt;-->

                <!--&lt;!&ndash;</form>&ndash;&gt;-->
            <!--</li>-->
        <!--</ul>-->


        <!--<a href="#" id="saving" data-bind="click: saveState, text: saveText">save</a>-->
        <!--<div class="task-list" data-bind="foreach: tasks">-->
            <!--<article class="task animated setup" data-bind=" css: { completed: completion() == true}"> <a href="javascript:void(0)"class="checkbox" data-bind="click: completeTask, html: completeContent"></a><span class="task-name" data-bind="text: task"></span> <span class="task-date" data-bind="text: date"></span> <a href="javascript:void(0)" class="task-remove" data-bind="click: $root.removeTask">X</a> </article>-->
        <!--</div>-->
    </section>
</div>
<!--<form data-bind="submit: addItem">-->
    <!--New item:-->
    <!--<input data-bind='value: itemToAdd, valueUpdate: "afterkeydown"' />-->
    <!--<button type="submit" data-bind="enable: itemToAdd().length > 0">Add</button>-->
    <!--<p>Your items:</p>-->
    <!--<select multiple="multiple" width="50" data-bind="options: items"> </select>-->
<!--</form>-->
<script src="index.js"></script>
</body>
</html>


