html 					{ overflow-y:scroll; }
body 					{ padding-top:50px; }
#todo-list 				{ margin-bottom:30px; }
#todo-form 	 			{ margin-bottom:50px; }
#headertodo                 { border-bottom:0px; }
.margin-top {
    margin-top:45px;
}
.margin-top-small {
    margin-top:25px;

}
.width{
    width:400px;
}
.margin-right {
    margin-left:25px;
}
.size
{
    margin-left:5px;
    margin-bottom: 50px;
    font-size: 30px;
    background: #428bca;
}
.bgColor{
    background: #428bca;
    border: 1px solid #428bca
}


